
<h3>Área Administrativa</h3>

<h3>Seja bem vindo ao SiCED!</h3>

<br />
<h4>“Uma vida atualizada não perde tempo tentando ser melhor que os outros e sim, investe tudo que possui para ser melhor que si mesmo”Autor Tiago Brunet</h4>


